:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(217, 12%, 63%);
  --clr-neutral-300: hsl(216, 12%, 54%);
  --clr-neutral-600: hsl(213, 19%, 18%);
  --clr-neutral-800: hsl(216, 12%, 8%);

  --clr-primary-200: hsl(25, 97%, 53%);

 

}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.hidden {
  display: none;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 0.975rem;

  display: grid;
  place-items: center;

  background-color: black;

}

.rating-card {
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-200);
  width: 400px;
  aspect-ratio: 1;

}

.rating-state {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.rating-state[data-active="true"] {
  display: block;
}

.rating-state[data-active="false"] {
  display: none;
}

.rating-state__icon {
  background-color: var(--clr-neutral-600);
  padding: 1rem;
  border-radius: 100px; 
  /* width: 1.2rem; */
}

.rating-state__icon:hover {
  cursor: pointer;
  background-color: var(--clr-neutral-200);
}

.rating-state__header {
  color: var(--clr-neutral-100);
  font-size: 1.8rem;
}

.rating-state__buttons {
  justify-content: space-around;
  
}

.rating-state__btn {
  border: none;
  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-200);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
} /* styles the label of hidden radio butons */

input[type="radio"]:checked + label { 
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-100);
 }   /* allows for styling of the selected rating 'button' */

.rating-state__btn:hover {
  cursor: pointer;
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}

.btn {
  display: block;
  width: 100%;
  text-transform: uppercase;
  padding: 0.5rem 4rem;
  border-radius: 30px;
  font-size: 0.85rem;
  letter-spacing: 2px;
} /* generic button styling. would probably be universal to larger project */

.btn--clr-primary-200 {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}

.btn--clr-primary-200:hover {
  color: var(--clr-primary-200);
  background-color: var(--clr-neutral-100);
  cursor: pointer; 
}

.thank-you-state[data-active="false"] {
  display: none;
}