:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(217, 12%, 63%);
  --clr-neutral-300: hsl(216, 12%, 54%);
  --clr-neutral-600: hsl(213, 19%, 18%);
  --clr-neutral-800: hsl(216, 12%, 8%);

  --clr-primary-200: hsl(25, 97%, 53%);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* utilities */

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.hidden {
  display: none;
}

.margin-auto {
  margin: 0 auto;
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-primary-200 {
  color: var(--clr-primary-200);
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}

.bg-neutral-600 {
  background-color: var(--clr-neutral-600);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.bg-primary-200 {
  background-color: var(--clr-primary-200);
}

/* general styles */

body {
  font-family: 'Overpass', sans-serif;
  font-size: 0.975rem;

  display: grid;
  place-items: center;

  background-color: black;
}

.btn {
  /* generic button styling. would probably be universal to larger project */
  display: block;
  width: 100%;
  
  padding: 0.7rem 4rem;
  --flow-space: 1.5rem; 
  
  font-size: 0.85rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: none; /* removes border for all browser */
  border-radius: 30px;
} 


/* RATING STATE STYLINGS */

.rating-card {
  padding: 2rem; 
  width: 400px;
  border-radius: 2rem;
}

.rating-state[data-active="true"] {
  display: block;
}

.rating-state[data-active="false"] {
  display: none;
}

.rating-state__icon {
  padding: 1rem;
  border-radius: 100px; 
}

.rating-state__header {
  font-size: 1.8rem;
  --flow-space: 1.2rem; 
}

.rating-state__text {
  --flow-space: 0.5rem; 
}

.rating-state__buttons {
  justify-content: space-around;
  --flow-space: 1.3rem; 
  
}

.rating-state__btn {
  /* styles the label of hidden radio butons */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  aspect-ratio: 1;

  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-200);
  
  border-radius: 100px;
  border: none;
} 

input[type="radio"]:checked + label { 
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-100);
 }   /* allows for styling of the selected rating 'button' */

.rating-state__btn:hover {
  cursor: pointer;
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}

.btn--clr-primary-200 {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}

.btn--clr-primary-200:hover {
  color: var(--clr-primary-200);
  background-color: var(--clr-neutral-100);
  cursor: pointer; 
}


/* THANK YOU STATE STYLINGS */

.thank-you-state {
  text-align: center;
}

.thank-you-state[data-active="false"] {
  display: none;
}

.selection-text {
  display: inline-block;

  padding: 1rem 1.6rem;

  line-height: 0rem; /* to fix vertical alignment of the text within the circular background */
  
  border-radius: 30px;
  --flow-space: 2rem;
}

.thank-you__header {
  font-size: 1.8rem;
}

.thank-you__text {
  --flow-space: 0.6rem;
}